/*------------------------------------*\
    $VARS
\*------------------------------------*/
/**
 * Set up project-specific variables here which are then used throughout your
 * build. These variables are automatically picked up by inuit.css so you should
 * never need to modify any framework code.
 */


/**
 * Debug mode will visually highlight any potential markup/accessibility quirks
 * in the browser. Set to `true` or `false`.
 */
$debug-mode:        false;


/**
 * Do you want all elements to adopt `box-sizing:border-box;` as per
 * paulirish.com/2012/box-sizing-border-box-ftw ?
 */
$global-border-box: true;


/**
 * Base stuff
 */
$base-font-size:    16px!default;
$base-line-height:  24px!default;


/**
 * How big would you like round corners to be by default?
 */
$brand-round:        4px!default;


/**
 * Responsiveness?
 * Tell inuit.css when breakpoints start, in pixels.
 */
$responsive:        true!default;
$lap-start:         481px!default;
$desk-start:        1024px!default;


/**
 * Font-sizes (in pixels). Refer to relevant sections for their implementations.
 */
$giga-size:         96px!default;
$mega-size:         72px!default;
$kilo-size:         48px!default;

$h1-size:           36px!default; // .alpha
$h2-size:           30px!default; // .beta
$h3-size:           24px!default; // .gamma
$h4-size:           20px!default; // .delta
$h5-size:           16px!default; // .epsilon
$h6-size:           14px!default; // .zeta

$milli-size:        12px!default;
$micro-size:        10px!default;


/**
 * Brand stuff
 */
 //couleurs
    $brand-color:       #bb1622!default;
    $noir-bleu:         #1d2326!default;
    $rouge-hover:       #bb1622!default;
    $linkColor: $brand-color !default;
    $white : #fff !default;
    $orange:                #f89406 !default;
    $grayDarker:            #222 !default;
    $grayDark:              #333 !default;
    $grayLight:             #999 !default;
    $grayLighter:           #eee !default;

 // fonts
 $brand-face:        "PT Sans", "Helvetica Neue", sans-serif!default;
 $condensed-face:    "PT Sans Narrow", "Helvetica Neue", sans-serif!default;
 $mono-family :      monospace!default;

/**
 * inuit.css will work these next ones out for you.
 *
 * Assign our `$base-line-height` to a new spacing var for more transparency.
 */
$base-spacing-unit: $base-line-height!default;
$half-spacing-unit: $base-spacing-unit / 2!default;
$quater-spacing-unit: $base-spacing-unit / 4!default;
$line-height-ratio: $base-line-height / $base-font-size;

/* formulaires */
$inputBackground: #fff!default;
$inputBorder: #ccc!default;
$inputBorderRadius : 3px!default;
$inputHeight:  $base-line-height + 6px !default;

// Input placeholder text color
// -------------------------
$placeholderText:         #ccc !default;


/* boutons */
$btnBackground:                     $white !default;
$btnBackgroundHighlight:            darken($white, 10%) !default;
$btnBorder:                         #ccc !default;

$btnPrimaryBackground:              $linkColor !default;
$btnPrimaryBackgroundHighlight:     adjust-hue($btnPrimaryBackground, 20%) !default;

$btnInfoBackground:                 #5bc0de !default;
$btnInfoBackgroundHighlight:        #2f96b4 !default;

$btnSuccessBackground:              #62c462 !default;
$btnSuccessBackgroundHighlight:     #51a351 !default;

$btnWarningBackground:              lighten($orange, 15%) !default;
$btnWarningBackgroundHighlight:     $orange !default;

$btnDangerBackground:               #ee5f5b !default;
$btnDangerBackgroundHighlight:      #bd362f !default;

$btnInverseBackground:              #444 !default;
$btnInverseBackgroundHighlight:     $grayDarker !default;
