/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/**
 * Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if inuit.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. inuit.css ignores its own variables in favour of
 * using your own, so you can completely modify how inuit.css works without ever
 * having to alter the framework itself.
 */
$base-line-height:  24px;

$base-font-family:"PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
$condensed-font-family:"PT Sans Narrow","Helvetica Neue",Helvetica,Arial,sans-serif;
$mono-font-family: monospace;

// couleurs
$brand-color: #d2270e;
$pageFootColor: #738b98;
$pathColor: #ccc;


/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
$use-grids:         true;
$use-flexbox:       false;
$use-columns:       false;
$use-nav:           true;
$use-options:       false;
$use-pagination:    false;
$use-breadcrumb:    false;
$use-media:         true;
$use-marginalia:    false;
$use-island:        false;
$use-block-list:    true;
$use-matrix:        false;
$use-split:         false;
$use-this-or-this:  false;
$use-link-complex:  false;
$use-flyout:        false;
$use-arrows:        true;
$use-sprite:        true;
$use-icon-text:     false;
$use-beautons:      true;
$use-lozenges:      true;
$use-rules:         true;
$use-stats:         false;
$use-greybox:       false;





/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override inuit.css’ defaults here.
 */
$responsive-extra:  true;

$lap-start:         481px;
$desk-start:        961px;
$desk-wide-start:   1100px;





/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of inuit.css here.
 */

// couleurs
$noir-bleu: #1d2326!default;
$orange: #f89406 !default;
$grayDarker: #222 !default;
$grayDark: #333 !default;
$grayLight: #999 !default;
$grayLighter: #eee !default;

// marges
$base-spacing-unit: $base-line-height;
$quarter-spacing-unit : $base-spacing-unit/4;

// formulaires
$inputBackground:       #fff!default;
$inputBorder:           #ccc!default;
$inputBorderRadius :    3px!default;
$inputHeight:           $base-line-height + 6px !default;

// boutons
$btnBackground: #fff !default;
$btnBackgroundHighlight: darken(#fff, 10%) !default;
$btnBorder: #ccc !default;

$btnPrimaryBackground:              $brand-color !default;
$btnPrimaryBackgroundHighlight:     adjust-hue($btnPrimaryBackground, 20%) !default;

$btnInfoBackground:                 #5bc0de !default;
$btnInfoBackgroundHighlight:        #2f96b4 !default;

$btnSuccessBackground:              #62c462 !default;
$btnSuccessBackgroundHighlight:     #51a351 !default;

$btnWarningBackground:              lighten($orange, 15%) !default;
$btnWarningBackgroundHighlight:     $orange !default;

$btnDangerBackground:               #ee5f5b !default;
$btnDangerBackgroundHighlight:      #bd362f !default;

$btnInverseBackground:              #444 !default;
$btnInverseBackgroundHighlight:     $grayDarker !default;