/*   =BASE
   ------------------------------------------------------ */
html {
   font-weight:400;
   color:#444;
   background-color:#fff;
}
body {position: relative;}

/* Liens */
a {
   color: #000;
   text-decoration: none;
   @include vendor(transition, color 0.35s ease-in-out 0.2s);
   &:visited{}
   &:hover{color: $brand-color; text-decoration: none;}
   &:active, &:focus {
      position: relative; top: 1px;
   }
}