/*   =BOX
   ------------------------------------------------------ */
   /* box--aside */
   .box--aside {
      @extend .cf;
   }
   .box__title {
      @include font-size(20px);
      font-family: $condensed-face;
      font-weight: normal;
      text-transform: uppercase;
      color: #000;
      border-bottom: 2px solid #000;
      margin-bottom: $half-spacing-unit;
   }