/*   =BOX
   ------------------------------------------------------ */

   /* box--aside */
   .box--aside {
      @extend .media;
   }
   .box--title {
      @include font-size(20px);
      font-family: $condensed-face;
      font-weight: normal;
      text-transform: uppercase;
      color: $brand-color;
      border-bottom: 2px solid $brand-color;
      margin-bottom: $half-spacing-unit;
   }