/*   =BREADCRUMB
   ------------------------------------------------------ */
   .breadcrumb-nav {
      margin-bottom: $base-spacing-unit;
      background: #ededed;
      background: -moz-linear-gradient(left, rgb(237,237,237) 0%, rgb(246,246,246) 53%, rgb(255,255,255) 100%);
      background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(237,237,237)), color-stop(53%,rgb(246,246,246)), color-stop(100%,rgb(255,255,255)));
      background: -webkit-linear-gradient(left, rgb(237,237,237) 0%,rgb(246,246,246) 53%,rgb(255,255,255) 100%);
      background: -o-linear-gradient(left, rgb(237,237,237) 0%,rgb(246,246,246) 53%,rgb(255,255,255) 100%);
      background: -ms-linear-gradient(left, rgb(237,237,237) 0%,rgb(246,246,246) 53%,rgb(255,255,255) 100%);
      background: linear-gradient(to right, rgb(237,237,237) 0%,rgb(246,246,246) 53%,rgb(255,255,255) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=1 );
   }
   .breadcrumb--categories {
      margin-bottom: 0;
      overflow: hidden;
      > li {
         display: inline;
         @include font-size(14px);
      }
      a {
         float: left;
         position: relative;
         padding: 3px 7px 3px 7px;
      }
      > li.on {
         a {
            color: #fff;
            background: $brand-color;
            text-transform: uppercase;
            font-weight: 700;
            @include font-size(12px);
            padding-right: 0;
         }
      }
      > li.on + li > a {padding-left: 15px;}
      /*> li.on a:before, > li.on a:after {
         content: " ";
         display: block;
         width: 0;
         height: 0;
         border-top: 60px solid transparent;
         border-bottom: 60px solid transparent;
         position: absolute;
         left: 100%; top: 50%;
         margin-top: -60px;
      }
      > li.on a:before {
         border-left: 17px solid #fff;
         margin-left: 1px;
         z-index: 1;
      }
      > li.on a:after {
         border-left: 16px solid $brand-color;
         margin-top: -60px;
         z-index: 2;
      }*/
      > li:first-child a {padding-left: 6px; padding-right: 0;}
   }