/*   =BREADCRUMB
   ------------------------------------------------------ */
   /* categories thématiques d'une rubrique */
   .breadcrumb-nav--categories {
      margin-bottom: $base-spacing-unit;
      background: #ededed;
      background: -moz-linear-gradient(left, rgb(237,237,237) 0%, rgb(246,246,246) 53%, rgb(255,255,255) 100%);
      background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(237,237,237)), color-stop(53%,rgb(246,246,246)), color-stop(100%,rgb(255,255,255)));
      background: -webkit-linear-gradient(left, rgb(237,237,237) 0%,rgb(246,246,246) 53%,rgb(255,255,255) 100%);
      background: -o-linear-gradient(left, rgb(237,237,237) 0%,rgb(246,246,246) 53%,rgb(255,255,255) 100%);
      background: -ms-linear-gradient(left, rgb(237,237,237) 0%,rgb(246,246,246) 53%,rgb(255,255,255) 100%);
      background: linear-gradient(to right, rgb(237,237,237) 0%,rgb(246,246,246) 53%,rgb(255,255,255) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=1 );
   }
   .breadcrumb--categories {
      margin-bottom: 0;
      overflow: hidden;
      > li {
         display: inline;
         @include font-size(14px);
      }
      a {
         float: left;
         position: relative;
         padding: 3px 7px 3px 7px;
      }
      > li.on {
         a {
            color: #fff;
            background: $brand-color;
            text-transform: uppercase;
            font-weight: 700;
            @include font-size(12px);
            padding-right: 0;
         }
      }
      > li.on + li > a {padding-left: 15px;}
      > li:first-child a {padding-left: 6px; padding-right: 0;}
   }

   /* breadcrumb site */
   .breadcrumb {
      border-top: 1px solid #eee;
      border-bottom: 1px solid #ddd;
      background-color: #fefefe;
      margin-top: $base-spacing-unit*2;
   }
   .breadcrumb--path {
      max-width: 1100px;
      margin: 0 auto;
      padding: $half-spacing-unit $base-spacing-unit;
      > li {
         text-transform: uppercase;
         margin-right: 5px;
         &:before {
            content:"/ ";
            color: $pathColor;
         }
         &.on {
            color: $brand-color;
         }
      }
   }