/*   =CAROUSEL
   ------------------------------------------------------ */
   .carousel {
      overflow: hidden;
      width: 100%;
      position: relative;
      @extend .landmark;
   }
   .panels {
      list-style: none;
      position: relative;
      margin-left: 0; margin-bottom: 0;
      @extend .cf;
   }
   .panels > li {
      float: left;
      position: relative;
      overflow: hidden;
   }
   // navigation precedent/suivant
   .prevnext {
      width: 100%;
      position: absolute;
      z-index: 21;
      top: 45%;
   }
   .prevnext a {
      text-indent: -9999em;
      cursor: pointer;
      opacity: 0.5;
      position: absolute;
      background: url(../img/migreurop-sprite.svg) no-repeat 0 0;
      @include vendor(transition, opacity 0.5s linear);
      &:hover{opacity:1; top: auto;}
   }
   .prevnext a {
      height: 48px;
      width: 48px;
   }
   .prevnext .previous {left: 10px; background-position: 0 -32px;}
   .prevnext .next {right: 10px; background-position: -64px -32px;}

   // navigation par page
   .pages {
      position: absolute;
      bottom: 0; right: 0;
      z-index: 21;
      margin-bottom: 0;
   }
   .pages > li {
      margin-right: 5px;
      text-indent: -9999em;
   }
   .pages > li > a {
      cursor: pointer;
      display: block;
      height: 16px;
      width: 16px;
      background-color: #ddd;
      background-color: rgba(255,255,255,0.5);
      @include vendor(transition, all 0.2s);
      &:hover{background-color: rgba(255,255,255,0.8);}
   }
   .pages .active,
   .pages .active:hover {
      background-color: #fff;
      cursor: default;
   }

   // contenu
   .panels article {position: relative;}

   // images
   .carousel__img {
      display: block;
      width: 100%;
      max-width: 100%;
      @include vendor(box-sizing, border-box);
   }

   /* contexte ouverture (sommaire) et portfolio (article) */
   .carousel-ouverture,
   .carousel-ouverture article,
   .carousel-portfolio {
      height: 520px;
   }
   .carousel-ouverture {
      .panels .wrap {
         position: absolute;
         bottom: 0;
         z-index: 20;
         margin-left: -$base-spacing-unit;
         width: 100%;
         float: left;
      }
      .panels .calque {
         color: #ccc;
         background-color: $noir-bleu;
         background-color: rgba($noir-bleu,0.8);
         padding: $half-spacing-unit;
         padding-top: $base-spacing-unit;
         a {
            color: #fff;
            &:hover{color: #d10c13;}
         }
      }
      .calque header {position: relative;}
      .calque .action {
         background: url(../img/migreurop-sprite.svg) no-repeat -64px 0;
         cursor: pointer;
         height: 16px;
         width: 16px;
         display: block;
         position: absolute; top: 0; right: 0;
         margin-top: -$half-spacing-unit;
      }
      .calque .action.ouvert {background-position: -64px -16px;}

      .hentry .entry-title {
         @include font-size(18px);
      }
      .meta-publi {
         margin-bottom: 0;
      }
      svg {fill: white;}

   }

   /* contexte extra */
   .carousel-extra {
      .panels > li {
         padding: 0 2px;
      }
      .carousel__img {
         @extend .spip_logos;
         margin-bottom: $half-spacing-unit;
         @include vendor(box-sizing, border-box);
      }
      .prevnext {
         top: 20%;
      }
      .pages {top: 3%; right: 1%; bottom: auto;}
      .prevnext a {
         height: 32px; width: 32px;
      }
      .prevnext .previous {background-position: 0 0;}
      .prevnext .next {background-position: -32px 0;}
   }

   /* contexte portfolio article */
   .carousel-portfolio {
      figcaption {
         color: #fff;
         background-color: $noir-bleu;
         background-color: rgba($noir-bleu,0.8);
         position: absolute;
         top: 0;
         width: 100%;
         padding: $half-spacing-unit/2 $half-spacing-unit;
         .carousel__legende {
            margin-bottom: 0;
            @include font-size(13px);
         }
      }
   }