/*   =CAROUSEL
   ------------------------------------------------------ */
.carousel {
   overflow: hidden;
   width: 99.999%;
   position: relative;
}
.carousel.carousel-ouverture,
.carousel.carousel-ouverture article {
   height: 500px;
}
   .panels {
      list-style: none;
      position: relative;
      margin-left: 0;
      @extend .cf;
   }
      .panels > li {
         float: left;
         position: relative;
      }
      // navigation
      .prevnext {
         width: 100%;
      }
      .prevnext a {
         text-indent: -9999em;
         cursor: pointer;
         height: 48px;
         width: 48px;
         background: url(../img/migreurop-sprite.svg) no-repeat 0 0;
         opacity: 0.5;
         position: absolute;
         top: 45%;
         z-index: 10;
         @include vendor(transition, opacity 0.5s linear);
         &:hover{opacity:1;}
      }
      .prevnext .previous {background-position: 0 -32px; left: 10px;}
      .prevnext .next {background-position: -64px -32px; right: 10px;}

      // contenu
      .panels article {position: relative; overflow: hidden;}
      .panels .wrap {
         position: absolute;
         bottom: 0;
         z-index: 20;
         margin-left: -$base-spacing-unit;
         width: 100%;
      }
      .panels .calque {
         color: #fff;
         background-color: $noir-bleu;
         background-color: rgba($noir-bleu,0.8);
         padding: $half-spacing-unit;
         padding-top: $base-spacing-unit;
         a {
            color: #fff;
            &:hover{color: #d10c13;}
         }
      }
      .calque header {position: relative;}
      .calque .action {
         background: url(../img/migreurop-sprite.svg) no-repeat -64px 0;
         cursor: pointer;
         height: 16px;
         width: 16px;
         display: block;
         position: absolute; top: 0; right: 0;
         margin-top: -$half-spacing-unit;
      }
      .calque .action.ouvert {background-position: -64px -16px;}

.carousel img {
   display: block;
   width: 100%;
   max-width: 100%;
}