/*   =FLYOUT
   ------------------------------------------------------ */
   // surcharges
   .flyout--alt {
      overflow: visible;
   }
   .flyout--alt:hover > .flyout__content {
      left: 0;
      top: auto;
      bottom: $base-spacing-unit;
   }

   // themes
   .flyout__box {
      @include vendor(box-shadow, 0 0 5px rgba(0,0,0,0.3));
      @include vendor(border-radius, 2px);
   }
