/*   =FORMS
   ------------------------------------------------------ */

/* FORMULAIRE RECHERCHE */
.formulaire_recherche {
   form {
      -webkit-border-radius:50px;
         -moz-border-radius:50px;
              border-radius:50px;
   }
   label, input {display: inline-block;}
   .submit-search {
      height: 16px;
      width: 16px;
   }
   input[type="search"] {
      width: 1px;
      padding: 3px 0;
      opacity: 0;
      border: 0;
      transition: all 200ms ease-in 0s;
      -webkit-border-radius:50px;
         -moz-border-radius:50px;
              border-radius:50px;
   }
   &:hover input[type="search"] {
      width: 200px;
      opacity: 1;
   }
}