/*   =HEADER
   ------------------------------------------------------ */
   header[role=banner] {
      width: 100%;
   }
   /* un carousel d'images en ouverture */
   .ouverture {
      position: absolute; top: 0;
      z-index: 99;
   }

