/*   =HEADER
   ------------------------------------------------------ */
   .page-head {
      width: 100%;
      /* logo Migreurop */
      .logo {
         margin: 3.5em auto 3em;
      }
   }

   /* carousel d'images ou logo de rubrique/article en ouverture de page */
   .ouverture {
      position: absolute; top: 0;
      z-index: 99;
   }
