/*   =HENTRY
   ------------------------------------------------------ */
   // hentry principal
   .hentry {
      color: #666;
      .entry-title {
         @include font-size($h4-size);
      }
      .soustitre {
         @include font-size($h4-size);
         font-family: $condensed-face;
      }
      .meta-publi {
         border-top: 1px dotted #ccc;
         border-bottom: 1px solid #ccc;
         line-height: 2;
      }
      .meta-publi > li {
         @include font-size(12px);
         margin-right: $quater-spacing-unit;
         padding-right: $quater-spacing-unit;
         border-right: 1px solid #ccc;
         &:last-child {border-right-width: 0;}
      }
      .meta-publi a {
         color: #777;
         &:hover{color: $rouge-hover;}
      }
      // traductions
      // icon
      .icon {
         position: relative;
         display: inline-block;
         height: 16px;
         width: 26px;
      }
      .icon svg {
         width: 26px;
         height: 26px;
         position: absolute;
         fill: #999;
         @include vendor(transition, all 0.5s ease-in);
      }
      // tooltip flyout
      .langues {
         color: #ccc;
         background-color: $noir-bleu;
         padding: $quater-spacing-unit $half-spacing-unit;
         white-space: nowrap;
         opacity: 0;
         @include vendor(transition, all 0.5s ease-in);
         @include arrow(bottom, left, $noir-bleu);
      }
      .translation:hover .langues {opacity: 1;}
      .translation:hover .icon svg {fill: $rouge-hover;}

      // surcharges taille fleche
      .langues:before, .langues:after {
         border-width: $quater-spacing-unit;
         margin-left: -$quater-spacing-unit;
      }
      // tooltip contenu
      .langues .zeta {color: #586a73; margin-bottom: 0; text-transform: uppercase;}
      .langues a {
         color: #fff;
         &:hover {color: $rouge-hover;}
      }
      .langues > h3 {font-family: $condensed-face;}
      .langues > ul {margin-bottom: 0;}
      .langues > ul > li {margin-right: 5px;}
   }

   // hentry-secondary
   .hentry-secondary {
      margin-bottom: 0;
      header {margin-bottom: $half-spacing-unit;}
      hgroup {margin-bottom: 0;}
      .entry-title {
         @include font-size(16px);
         line-height: 1.2;
         margin-bottom: 0;
      }
      .soustitre {
         @include font-size(14px);
      }
      .entry-content p {
         @include font-size(13px);
         line-height: 1.5;
         color: #999;
      }
      .link--img {
         display: inline-block;
         width: 100%;
      }
      .meta-publi {margin-bottom: $half-spacing-unit;}
      .meta-publi .author, .meta-publi .category {display: none;}
   }

