/*   =LIENS
   ------------------------------------------------------ */
   a {
      font-weight:400;
      -webkit-transition:color .35s ease-in-out .2s;
      -moz-transition:color .35s ease-in-out .2s;
      -o-transition:color .35s ease-in-out .2s;
      transition:color .35s ease-in-out .2s;
      &:visited{}
      &:hover{color: #d10c13; text-decoration: none;}
      &:active, &:focus {
         position: relative; top: 1px;
      }
   }
   .suite_a {
      font-style: italic;
      &:before{
         display: inline-block;
         margin-right: .25em;
         color: #d10c13;
         content: "\2013";
      }
   }