/*   =LIENS
   ------------------------------------------------------ */
   a {
      color: #000;
      text-decoration: none;
      @include vendor(transition, color 0.35s ease-in-out 0.2s);
      &:visited{}
      &:hover{color: $brand-color; text-decoration: none;}
      &:active, &:focus {
         position: relative; top: 1px;
      }
   }
   // liens soulignés
   .suite--link,
   #spip_pass {
      border-bottom: 1px solid $brand-color;
   }
   .suite--link {
      margin-left: 4px;
   }

   // more
   .more, .less {
      .txt & {border-bottom: none;}
   }