/*   =LIENS
   ------------------------------------------------------ */
   a {
      color: #000;
      text-decoration: none;
      @include vendor(transition, all 0.35s ease-in-out 0.2s);
      &:visited{}
      &:hover{color: $rouge-hover; text-decoration: none;}
      &:active, &:focus {
         position: relative; top: 1px;
      }
   }
   // liens suite
   /*.suite_a {
      margin-left: .5em;
      &:before{
         display: inline-block;
         margin-right: .25em;
         color: $rouge-hover;
         content: "\2013";
      }
   }*/

   .suite_a {
      border-bottom: 1px solid $brand-color;
   }