/*   =LISTES
   ------------------------------------------------------ */
   // articles-selection
   .articles-selection {
      @extend .block-list;
      border-top-width:0;
      > li {
         border-bottom-width: 0;
         margin-bottom: $base-spacing-unit * 2;
         padding: 0;

      }
   }

   // block-list--media
   .block-list--media {
      @extend .block-list;
      @extend .articles-selection;
      > li {
         border-bottom: 1px solid #000;
         margin-bottom: $base-spacing-unit;
      }
   }