/*   =LISTES
   ------------------------------------------------------ */
   // objets-selection
   .objets-selection {
      @extend .block-list;
      border-top-width:0;
      > li {
         border-bottom-width: 0;
         margin-bottom: $base-spacing-unit * 2;
         padding: 0;

      }
   }
   ol.objets-selection {
      @include media-query(lap-and-up) {
         margin-left: $base-spacing-unit * 2;
      }
   }
   .box--aside .objets-selection > li {margin-bottom: $base-spacing-unit;}

   // block-list--media
   .block-list--media {
      @extend .block-list;
      @extend .objets-selection;
      > li {
         margin-bottom: $base-spacing-unit;
      }
   }

   // ul.liste-items
   .liste-items {
      list-style-type: none;
      margin-left: 0;
      // li.sp
      > .sp {
         padding-left: 18px;
      }
      > .sp-rtl {
         padding-right: 18px;
      }
   }
   
   // Sous-rubriques
   .liste-sousrubriques {
      margin-bottom: $base-spacing-unit*3;
   }