/*   =MEDIA
   ------------------------------------------------------ */

   /* plugin mediabox/colorbox : content-box au lieu de border-box sur le conteneur sinon l'image est partiellement masquée. */
   #colorbox {
      &,
      &:before,
      &:after{
          @include vendor(box-sizing, content-box);
      }
   }

   /* image en ouverture */
   .media-ouverture {
      @extend .media;
      width: 100%;
      overflow: hidden;
   }
      .media-ouverture__img {
         width: 100%;
      }

   /* spip-logos */
   .spip_logos {
      padding: 4px;
      background-color: #fff;
      border: 1px solid #ccc;
      border: 1px solid rgba(0,0,0,0.2);
      @include vendor(box-shadow, 0 1px 3px rgba(0,0,0,.1));
      @include vendor(box-sizing, content-box);
   }

   /* Documents */
   .spip_documents a, .documents a {
      display: block; border-bottom: none;
   }
      .spip_documents img {
         @extend .spip_logos;
      }

   /* Documents en illustration (champs Texte) */
   .txt {
      .spip_documents {
         display: block;
         margin-top: 5px;
         margin-bottom: $base-spacing-unit;
      }
      .spip_documents_left {margin-right:$base-spacing-unit;}
      .spip_documents_center {
         text-align: center;
         clear: both;
      }
      .spip_documents_right {margin-left: $base-spacing-unit;}
      .spip_doc_titre,
      .spip_doc_descriptif {
         @include font-size($milli-size);
         color: #999;
         margin-left: 0;
      }
   }
   /* documents joints */
   .documents {
      margin-bottom: 0;
      @extend .cf;
      h1.spip {
         @extend .beta;
         border-bottom: 2px solid #000;
      }
      .block-list {border-top: none;}
      &.portfolio {
         .media__link {
            display: inline-block;
         }
         .media__img {
            float: none;
            margin-right: $base-spacing-unit/2;
         }
      }
      .media__img {
         margin-bottom: $base-spacing-unit;
      }
      .media__body {
         margin-left: 0;
      }
   }
   /*  tous les autres documents */
   .documents {
      &.fichiers {
         .media {
            @include media-query(lap-and-up) {
               display: inline-block;
               width: 48%;
               margin-right: 2%;
            }
         }
         .spip_doc_titre,
         p {
            margin-bottom: 0;
         }
      }
   }
   