/*   =META-PUBLI
   ------------------------------------------------------ */
   /* éléments communs. éléments spécifiques voir hentry.scss, self.scss */
   .meta-publi {
      @extend .nav;
      .intertitre {
         color: #aaa;
         text-transform: uppercase;
         font-family: $condensed-face;
         @include font-size(18px);
         padding-left: 21px;
         margin-left: -21px;
         margin-bottom: 0;
         position: relative;
      }
      .liste-items {
         list-style-type: none;
         margin-left: 0;
         > li {
            padding-left: 18px;
         }
         a {
            color: #333;
            &:hover{color: $rouge-hover;}
         }
      }
   }
      // rubrique
      .category {
         text-transform: uppercase;
         padding-left: 0.7em;
         position: relative;
      }
      .category.on a {color: $brand-color; font-weight: 700;}
      // date publication
      .updated {
         text-transform: uppercase;
         color: #999;
      }
      // auteur
      .byline {font-style: italic; color: #999;}
      // traductions
      .box--aside .traductions {
         @extend %sass-margin-top;
      }
         .traduction.on {
            color: $brand-color;
         }
            .lang {
               text-transform: uppercase;
               color: #999;
               @include font-size(14px);
            }