/*   =META-PUBLI
   ------------------------------------------------------ */
   /* éléments communs. éléments spécifiques voir hentry.scss, self.scss */
   .meta-publi {
      @include media-query(lap-and-up) {
         // @extend .nav ne fonctionne pas, on fait en manuel.
         list-style: none;
         margin-left: 0;
         > li {
            &,
            > a {
               display: inline-block;
               *display: inline;
               zoom: 1;
            }
         }
      }
      @include media-query(palm) {
         margin-left: 0;
         list-style: none;
      }
      .intertitre {
         @include font-size(18px);
         padding-left: 21px;
         margin-left: -21px;
         margin-bottom: 0;
         position: relative;
      }
      .liste-items {
         a {
            color: #333;
            &:hover{color: $brand-color;}
         }
      }
   }
      // rubrique
      // ---------
      .category {
         &.on a {color: $brand-color; font-weight: 700;}
      }
      .cat--item {
         text-transform: uppercase;
         position: relative;
         padding-left: 0.7em;
         &:before {
            content: '/';
            color: $pathColor;
            display: block;
            position: absolute;
            left: 0;
         }
      }

      // date publication
      // ------------------
      .updated {
         text-transform: uppercase;
         color: #999;
      }

      // auteur
      // -------
      .byline {font-style: italic; color: #999;}

      // traductions
      // -------------
      .traductions {
         .sprite {
            margin-right: 6px;
         }
      }
         .traduction {
            text-transform: uppercase;
            &.on .btn--traduction {
               background-color: $brand-color;
            }
         }