/*   =NAV
   ------------------------------------------------------ */

/* nav-principale : desk-nav */
.nav-principale {
   background-color:$noir-bleu;
   position: absolute;
   top: 0;
   width: 100%;
   .nav {
      margin-bottom: 0;
      margin: 0 auto;
      padding-right:$base-spacing-unit;
      padding-left: $base-spacing-unit;
      @media only screen and (max-width: 960px) {
         text-align: right;
      }
      @media only screen and (min-width: 961px) {
         max-width: 1100px;
      }
   }
   a {
      color: #ddd; color: rgba(255,255,255,0.9);
      text-shadow: 0 0 4px rgba(68,68,68,0.6);
      &:hover {
         color: #fff; color: rgba(255,255,255,1);
         text-shadow: 0 0 4px rgba(255,255,255,0.3);
         text-decoration: none;
      }
   }
}

.nav__item {
   font-weight: 700;
   text-transform: uppercase;
   position: relative;
   padding-top: 6px;
   padding-bottom: 6px;
   &.search {
      padding-right: 0 !important;
   }
   &.is-active {
      .item {@include arrow(bottom, center, $noir-bleu);}
   }
   .nav-principale & {
      @include font-size(13px);
   }
}

.desk-nav {
   display: block;
   .nav__item {
      padding-right: 8px;
      &.search {
         float: right;
      }
   }
   @media only screen and (max-width: 960px) {
      display: none;
   }
}

.palm-nav {
   display: none;
   .nav__item {
      padding-right: 1em;
   }
   @media only screen and (max-width: 960px) {
      display: block;
   }
}