/*   =NAV
   ------------------------------------------------------ */
   /* =BARRENAV */
   .barrenav {
      background-color: $noir-bleu;
      position: fixed;
      top: 0;
      z-index: 999;
      width: 100%;

      .nav {margin-bottom: 0;}
      .nav--item {
         overflow: visible;
         @include font-size(13px);
         &.on {
            .item {@include arrow(bottom, center, $noir-bleu);}
         }
      }
      a, span {
         display: inline-block;
         color: #ddd; color: rgba(255,255,255,0.9);
         text-shadow: 0 0 4px rgba(68,68,68,0.6);
         &:hover {
            color: #fff; color: rgba(255,255,255,1);
            text-shadow: 0 0 4px rgba(255,255,255,0.3);
            text-decoration: none;
         }
      }
   }

      // nav--item
      .nav--item {
         font-weight: 700;
         text-transform: uppercase;
         position: relative;
         .nav--banner > & {
            padding-right: $base-spacing-unit/2;
            > a,
            > .open,
            > .form-search {
               padding: $quater-spacing-unit;
            }
         }
         .nav--banner > &.search {padding-right: 0;}
      }
         // open
         .open {
            width: 16px; height: 16px;
            position: absolute; top: 8px; right: 0;
            cursor: pointer;
         }

      // dropdown
      .dropdown {
         background-color: $noir-bleu;
         text-align: left;
         list-style-type: none;
         white-space: nowrap;
         padding: $half-spacing-unit;
         margin-left: 0;
         opacity: 0;
         @include vendor(transition, opacity 0.5s ease-in-out);
         position:absolute;
         top:100%;
         left:-99999px;
         @include arrow(top, right, $noir-bleu);
         &.active {
            top: 120%;
            left: auto;
            right: -10px;
            opacity: 1;
         }
         //surcharge taille et position fleche
         &:before,
         &:after {
            border-width: $quater-spacing-unit;
            margin-left: -$quater-spacing-unit;
            right: 12px;
         }
      }

   /* =NAV__PLAN */
   .nav__plan {
      .nav--item {
         @include font-size(14px);
         line-height: 1.3;
         margin: 0.25em 0 0.25em 22px;
         &.on > a {
            color: $brand-color;
            font-weight: 700;
         }
      }
      ul ul > .nav--item {
         margin-left: 0.7em;
      }
   }
      .nav__plan--titre {
         font-family: $condensed-face;
         @include font-size(18px);
         color: #999;
         text-transform: uppercase;
         cursor: pointer;
         margin-bottom: 0;
         padding-left: 22px;
         @include vendor(transition, color 0.5s ease-in-out);
      }