/*   =NAV
   ------------------------------------------------------ */

/* nav-principale */
.nav-principale {
   background-color:$noir-bleu;
   position: absolute;
   top: 0;
   width: 100%;
   .nav {
      margin-bottom: 0;
      margin: 0 auto;
      padding-right:$half-spacing-unit;
      padding-left: $half-spacing-unit;
      max-width: 1100px;
   }
   a {
      color: #ddd; color: rgba(255,255,255,0.9);
      text-shadow: 0 0 4px rgba(68,68,68,0.6);
      &:hover {
         color: #fff; color: rgba(255,255,255,1);
         text-shadow: 0 0 4px rgba(255,255,255,0.3);
         text-decoration: none;
      }
   }
}

.nav__item {
   font-weight: 700;
   text-transform: uppercase;
   position: relative;
   .nav-principale & {
      padding-right: 8px;
      @include font-size(13px);
   }
}
