/*   =PAGE-HEAD
   ------------------------------------------------------ */
.page-head {
   text-align: center;
   padding: 3.5em $base-spacing-unit 3em;
   &.ouverture {
      position: absolute;
      z-index: 90;
      width: 100%;
      @include media-query(palm) {
         position: static;
      }
   }
}

   /* logo site */
   .logo {
      display: inline-block;
      @include media-query(palm) {
         width: 300px;
      }
   }