/*   =PAGE
------------------------------------------------------ */
.page-content {
   margin-right: auto;
   margin-left: auto;
   padding-right:$base-spacing-unit;
   padding-left:$base-spacing-unit;
   @include media-query(desk) {
      max-width: 1100px;
   }
   .conteneur {
      @include media-query(portable) {
         text-align: center;
         > .grid__item {
            text-align: left;
         }
      }
   }
}