/*   =PAGE-FOOT
   ------------------------------------------------------ */
   .page-foot {
      background-color: $noir-bleu;
      padding: $base-spacing-unit 0 0;
      color: $pageFootColor;
      border-top: 1px solid #000;
      .conteneur {
         margin: 0 auto;
         padding-right:$base-spacing-unit;
         padding-left:$base-spacing-unit;
         @include media-query(lap) {
            padding-left:$base-spacing-unit*2;
         }
         @include media-query(desk) {
            max-width: 1100px;
         }
      }
      .intertitre {
         color: #355E73;
         @include font-size(26px);
         margin: $half-spacing-unit/2 0;
      }
      .social {
         > .sp {
            padding-left: 22px;
            text-transform: uppercase;
            @include font-size(14px);
         }
      }
      .updated {
         color: $pageFootColor;
         @include font-size(13px);
      }
      a {
         color: #ddd;
         &:hover{color: $brand-color;}
         &.sp--top {
            text-transform: uppercase;
            @include font-size(18px);
            font-family: $condensed-font-family;
            padding-right: 32px;
            margin-top: 2em;
            display: inline-block;
         }
      }
   }
   // signature du site
   .signature {
      border-top: 2px solid darken(#111,10%);
      background-color: #111;
      margin-top: $base-spacing-unit/2;
      padding-bottom: 1em;
      text-align: center;
      .logo {
         margin: 0 auto;
      }
   }
   // credits
   .credits {
      text-align: right;
      @include font-size(12px);
      line-height: 1em;
      color: #444;
      margin-bottom: 1em;
      a {
         color: #666;
      }
   }