/*   =QUOTES
   ------------------------------------------------------ */
   blockquote {
      background-color: #f6f6f6;
      padding: $quarter-spacing-unit $quarter-spacing-unit $quarter-spacing-unit $half-spacing-unit;
      margin-left: $base-spacing-unit;
      p {
         color: #666;
      }
   }