/*   =RECHERCHE
   ------------------------------------------------------ */

   .resultats--detail {
      font-weight: 700;
      text-transform: uppercase;
      color: #000;
   }

   // titre des documents
   .recherche .media .entry-title {margin-bottom: 0;}