/*   =SELF
   ------------------------------------------------------ */
   /* Les contenus d'un objet spip : titre, texte, documents, etc. d'une rubrique, d'un article, d'un mot-clé, etc. */
   .self {
      @extend .landmark;
      .surtitre {
         @include font-size($h3-size);
         margin-bottom: 0;
         color: #aaa;
      }
      .soustitre {
         @include font-size($h3-size);
         font-family: $condensed-font-family;
         color: #aaa;
      }
   }
   .self__titre {
      color: #000;
      margin-bottom: 0;
      @include font-size(32px);
      font-weight: 700;
   }
   .rubrique .self__titre,
   .mot .self__titre,
   .recherche .self__titre span {text-transform: uppercase;}
   .self__body {
      .txt {
         margin-left: $base-spacing-unit * 2;
      }
   }
      .chapo {
         color: #252525;
         @include font-size(18px);
      }
   .txt a {
      @extend .suite--link;
      padding-bottom: 1px;
      margin-left: 0;
   }
   .self .meta-publi {
      @extend .nav--stacked;
   }

   .url-site {
      padding-left: 21px;
   }
   a.url-site {
      display: inline-block;
      margin-top: $base-spacing-unit;
   }
   p.url-site {
      margin-left: $base-spacing-unit * 2;
   }
