/*   =SHARED
   ------------------------------------------------------ */
   //helper for "regular" margin-bottom
   .mbr {
      @extend %sass-margin-bottom;
   }

   // margin-top
   %sass-margin-top {
      margin-top:$base-spacing-unit;
      margin-top:($base-spacing-unit / $base-font-size)*1rem;
   }

   .hr--break {
      margin: 1.5em 0 2em;
   }