/*   =SPRITE
   ------------------------------------------------------ */
   .sp {
      position: relative;
      &:before{
         content: '';
         height: 16px;
         width: 16px;
         background: url(../img/migreurop-sprite.png) no-repeat 0 0;
         position: absolute; left: 0; top: 2px;
         display: block;
      }
   }
   .sp--alt {
      position: relative;
      &:after {
         content: '';
         height: 16px;
         width: 16px;
         background: url(../img/migreurop-sprite.png) no-repeat 0 0;
         position: absolute;
         right: 0;
         top: 0;
         display: block;
      }
   }
   .s {
      @extend .s;
      background-image:url(../img/migreurop-sprite.png);
   }
   // tags
   .sp--tags {
      &:before{
         background-position: -32px 0;
      }
   }
   // meme sujet
   .sp--related {
      &:before {
         background-position: -80px 0;
      }
   }

   // plan de la rubrique
   .sp--map {
      &:before {
         background-position: 0 0;
      }
      &.on,
      &:hover {
         color: $noir-bleu;
         &:before {
            background-position: -16px 0;
         }
      }
   }
   // mail
   .sp--mail {
      &:before {
         background-position: -64px -16px;
      }
   }
   // coordonnees
   .sp--address {
      &:before {
         background-position: -80px -16px;
      }
   }
   // partagez
   .sp--share {
      &:before {
         width: 17px;
         background-position: -48px 0;
      }
   }
   // facebook
   .sp--fb {
      &:before {
         background-position: -128px -16px;
      }
   }
   // twitter
   .sp--tw {
      &:before {
         background-position: -128px -32px;
      }
   }
   // liste de diffusion migreurop
   .sp--ld {
      &:before {
         background-position: -128px -48px;
      }
   }
   // puces
   .sp--puce {
      &:before {
         width: 14px;
         background-position: -66px 0;
      }
   }
   .sp--puce--alt {
      &:before {
         width: 14px;
         background-position: -112px 0;
      }
   }
   // back to top
   .sp--top {
      &:after {
         background-position: 0 -80px;
         width: 32px;
         top: 2px;
      }
   }
   // traductions
   .s--trad {
      background-position: -96px 0;
   }
   .sp--trads {
      &:before {
         background-position: -96px 0;
      }
   }
   // icone menu dropdown
   .s--dd {
      background-position: -128px 0;
   }
   // recherche
   .s--search {
      background-position: -128px 0;
      margin-left: 6px;
   }
   // breadcrumb--categorie
   .sp--bc {
      &:after {
         height: 100%;
         width: 10px;
         right: -10px;
         z-index: 9;
         background-position: 100% 50%;
      }
   }
   // north or south
   .s--south {
      background-position: -16px -16px;
      &:hover {
         background-position: -48px -16px;
      }
   }
   .s--north {
      background-position: 0 -16px;
      &:hover {
         background-position: -32px -16px;
      }
   }
   // prev/next
   // big size
   .s--prev-48 {
      height: 48px;
      width: 48px;
      background-position: 0 -32px;
   }
   .s--next-48 {
      height: 48px;
      width: 48px;
      background-position: -48px -32px;
   }

   // RIGHT TO LEFT
   // --------------
   .sp-rtl {
      position: relative;
      &:after{
         content: '';
         height: 16px;
         width: 16px;
         background: url(../img/migreurop-sprite.png) no-repeat 0 0;
         position: absolute; right: 0; top: 2px;
         display: block;
      }
      &.sp--puce {
         &:after {
            width: 14px;
            background-position: -66px 0;
         }
      }
   }