/* 
-------------------------------------------------------------
Feuille de style ecran PAJOL [http://pajol.eu.org]
Version du 2 aout 2004
------------------------------------------------------------- */

body {
	margin: 0px;
	padding: 0px;
	font: 12px/1.4em Helvetica, Arial, sans-serif;
	text-align: center;
	background-color: #FFF;
	color: #666;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #F00;
	font-weight: normal;
}

/* Liens
------------------------------------------------------------- */
a, a:link {
	text-decoration: none;
	color: #409;
}
a:visited {
	text-decoration: none;
	color: #aaa;
}
a:hover {
	color: #F00;
	text-decoration: underline;
}
a:active {
	color: #60C;
	text-decoration: underline;
}

/* Structure de la page
------------------------------------------------------------- */

div#Enveloppe {
	text-align: left;
	width: 85%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
div#ColonneDroite {
	float: right;
	width: 50%;
	margin-left: 2%;
	margin-top: 15px;
}
div#ColonneMilieuSommaire { /*uniquement pour la page d'accueil */
	float: right;
	width: 20%;
	margin-right: 3%;
}
div#ColonneMilieu {
	float: right;
	width: 20%;
	margin-right: 3%;
}
div#ColonneGauche {
	width: 20%;
	float: right;
	margin-right: 3%;
	margin-top: 18px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
div#InfoContexte {
	font-size: 80%;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	line-height: 1.4em;
	margin-bottom: 3em;
	margin-top: 0px;
}

/* Entete des pages 
----------------------------------- */
img#logo {
	float: left;
	margin:10px 0 15px 25px;
}
/* Menu principal
----------------------------------- */
div#Sommaire {
	font: 10px Helvetica, Arial, sans-serif;
}
div#Sommaire a:visited {
	color: #409;
}
a.secteuroff, a.rubriqueoff {
	font-weight: normal;
}
a.secteuron, a.rubriqueon {
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #F00;
}
a.secteur, a.rubrique {
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #F00;
}
a.secteur:hover, a.rubrique:hover, a.secteuron:hover, a.rubriqueon:hover {
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #FFF;
}
div#Sommaire table {
	width: 100%;
	font-size: 10px;
}
td.Gauche {
	vertical-align: top;
	width: 15px;
	padding-bottom: 2px;
	padding-top: 2px;
}
table#Sommaire1 {
	margin-bottom: 1.5em;
}

/* Regles communes de mise en page
---------------------------------------------------- */

.Interieur{
	background-image: url(../images/chevron.png);
	background-repeat: no-repeat;
	background-position: left top;
}
div.TexteNoir {
	color: #333;
}
p.Surtitre {
	margin-top: 0px;
	margin-bottom: 0px;
	color: #9E0099;
}
p.Soustitre {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	font-style: italic;
	color: #333;
}
p.spip {
	line-height: 1.4em;
	margin-top: 0px;
	margin-bottom: 1.2em;
}
div.Texte p.spip {
	margin-left: 10px;
}
div.Texte {
	line-height: 1.4em;
}
h3.spip {
	font-size: 110%;
	margin-bottom: 0.3em;
	margin-top: 1em;
	font-weight: bold;
}
hr.spip {
	margin-left: 10px;
	border: 1px dotted #FF0000;
}
p.RubIntroArt {
	margin-top: 0.2em;
	margin-bottom: 1em;
}
div.RubIntroArt {
	margin-bottom: 1.8em;
	margin-top: 0px;
}
p.RubDateArt {
	font-size: 90%;
	margin-bottom: 2.5em;
	margin-top: 0.5em;
}
p.Date {
	text-align: right;
	color: #666;
}
span.Date {
	color: #999;
}
p.Auteurs {
	text-align: right;
	margin-top: 0px;
}
span.Auteurs {
}
div#PiedDePage {
	margin-top: 3em;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 90%;
}
div#InfoContexte h4 {
	border-bottom: 1px solid #F00;
	margin-bottom: 0.3em;
	font-size: 130%;
}
p.DocDescriptif {
	margin-bottom: 0px;
}
div.Sites {
	margin-left: 15px;
}
div.Sites h3 {
	font-size: 120%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
div.Sites p.spip {
	font-size: 89%;
}
div.Sites span.URLSites, span.URLSites {
	color: #F00;
	font-size: 120%;
}
div.Sites span {
	font-family: monospace;
}
div.SitesArticles {
	margin-left: 15%;
	background: url(../images/chevron-petit.png) no-repeat left top;
	padding-left: 23px;
	padding-top: 3px;
	margin-top: 1em;
	margin-bottom: 0.8em;
	font-size: 90%;
}
div.SitesArticles h4 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 120%;
	padding: 3px;
}
div.formulaire {
	margin-top: 0.3em;
	font-size: 9px;
}
fieldset {
	border: 1px dotted #CCC;
	margin-top: 1em;
	margin-bottom: 0px;
}
ul.SignaturesGauche {
	float: left;
	width: 45%;
	margin: 0.8em 5px 0px 0px;
	padding: 0px;
}
ul.SignaturesDroite {
	float: left;
	width: 45%;
	margin: 0.8em 0px 0px 5px;
	padding: 0px;
}
ul.SignaturesGauche li, ul.SignaturesDroite li {
	list-style: none;
	margin-bottom: 0.5em;
}
div#Texte h2 {
	font-size: 130%;
	margin-top: 1.4em;
	margin-bottom: 0px;
	margin-left: 0px;
}
div#Texte h2.Inter {
	font-size: 130%;
	margin-top: 1.4em;
	margin-bottom: 10px;
}
div#Breves h4, div#SousRubriques h4 {
	margin-bottom: 0.7em;
	font-size: 100%;
	margin-top: 0px;
	margin-left: 10px;
}
div#InfoContexte h5, divBreves h5 {
	margin-bottom: 0.3em;
	margin-top: 0.3em;
	font-size: 110%;
}
img.DocAssocies {
	float: left;
	margin-right: 7px;
	margin-top: 7px;
}
img.LogoAuteur {
	float: right;
	margin: 3px 8px;
}
img#LogoRubArt {
	margin-bottom: 1em;
}
input.forml {
	padding: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 9px;
	border: 1px solid #409;
}
input.spip_bouton {
	padding: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	font-size: 9px;
	border: 1px solid #409;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
input#Recherche {
	font: 10px Geneva, Arial, Helvetica, sans-serif;
	margin-top: 2em;
}
.spip_surligne {
	background: #FF8080;
}
.spip_encadrer {
	border: 1px solid #CCC;
	padding: 10px;
	margin-top: 1em;
}


/* Regles specifiques de mise en page
------------------------------------------------------- */
/* Squelette Sommaire  
====================== */


div.SommaireRubAlignG {
	margin-right: 18%;
	background: url(../images/chevron.png) no-repeat left top;
	padding-left: 55px;
	padding-bottom: 2.3em;
}
div.SommaireRubAlignD {
	margin-left: 18%;
	background: url(../images/chevron.png) no-repeat right top;
	padding-right: 50px;
	padding-bottom: 2.3em;
}
div.Sommaire  div.RubIntroArt {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #FF9898;
}
div.RubIntroArt p.RubDateArt {
	margin-bottom: 0.5em;
}
div.SommaireTitreRub h1 {
	font-size: 130%;
	margin-bottom: 0px;
	margin-top: 0px;
	line-height: 1.2em;
}
div.SommaireTitreRub {
	font-family: Helvetica, Arial, sans-serif;
	margin-bottom: 0px;
}
div.SommaireTitreRub p.Surtitre {
	margin-top: 0px;
	margin-bottom: 3px;
	line-height: 1em;
}
div.SommaireTitreRub p.Soustitre {
	margin-top: 0.2em;
	margin-bottom: 0px;
}
div#Presentation {
	margin-bottom: 3em;
	background-image: url(../images/chevron-petit.png);
	background-repeat: no-repeat;
	background-position: left top;
	font-family: Georgia, "Times New Roman", Times, serif;
}
div#Presentation p {
	margin-left: 35px;
	color: #000;
	font-size: 110%;
	text-align: justify;
	margin-top: 0px;
}
div#Sommaire ul {
	margin-top: 1.5em;
	list-style: url(../images/menu-rubrique-seule.png) inside;
	margin-left: 0px;
	padding: 0px;
}
div#Sommaire li {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 0px;
}
div#Sommaire li.Recherche {
	margin-top: 2em;
}


/* Squelette Article 
==================== */

div#Titre {
	margin-right: 7%;
	margin-bottom: 2em;
	padding-bottom: 5px;
}
div#Titre h1 {
	font-size: 140%;
	margin-bottom: 0px;
	margin-top: 0px;
	line-height: 1.4em;
	margin-left: 55px;
}
div#Titre p.Surtitre, div#Titre p.Soustitre {
	margin-left: 55px;
}
div#Corps {
	background: url(../images/chevron.png) no-repeat right bottom;
	padding-bottom: 78px;
	padding-right: 7%;
}
div#Chapo {
	font-weight: bold;
	margin-top: 2em;
	margin-bottom: 1em;
	line-height: 1.4em;
}
div#Texte {
	text-align: justify;
	margin-bottom: 2em;
}
div#Texte li {
	list-style: square;
}
div#Signatures {
	margin-top: 2em;
}
div#Postscriptum {
	margin-top: 2em;
	margin-left: 25%;
	text-align: justify;
}
div#Breves h3, div#Signatures h3, div#Postscriptum h4 {
	font-size: 120%;
	margin-bottom: 0.3em;
	border-bottom: 1px solid #F00;
	padding-bottom: 0.2em;
}
.ArticleContexte {
	padding-top: 5em;
}
p.spip_note {
	margin-top: 0.2em;
	margin-bottom: 0.7em;
}
div#InfoContexte ul, div.SitesArticles ul {
	margin: 0px;
	padding: 0px;
}
div#InfoContexte li, div.SitesArticles li {
	list-style: square inside;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 3px;
}
div#InfoContexte li.Niveau2 {
	list-style-type: disc;
	margin-left: 10px;
	list-style-position: inside;
}

/* Squelette Rubrique 
====================== */

div.Interieur div.RubIntroArt {
	margin-left: 55px;
}
div#SousRubriques div.RubIntroArt {
	margin-left: 0px;
	font-size: 89%;
}
div#Corps > div.RubIntroArt {
	color: #000;
	text-align: justify;
	margin-bottom: 2.3em;
}
div#SousRubriques {
	margin-top: 2em;
	margin-bottom: 2em;
	margin-right: 30px;
}
div#SousRubriques h3 {
	font-size: 110%;
	border-bottom: 1px dashed #F00;
	padding-bottom: 0.3em;
	margin: 1.2em 0px 0.3em;
}
h2.RubTitreArt {
	font-size: 130%;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 1.2em;
}
h3.RubTitreArt {
	font-size: 110%;
	margin-bottom: 0px;
	margin-top: 0em;
}
div.RubTexteArt h3.RubTitreArt {
	font-size: 120%;
	color: #306;
	font-weight: bold;
}
img#LogoRub {
	margin-bottom: 2em;
}
dl.Syndication {
}
dl.Syndication dt {
	display: list-item;
	list-style: square inside;
	color: #000;
}
dl.Syndication dd {
	margin: 0px 0px 0.9em;
}
dl.Syndication span.URLSites {
	color: #F00;
	font-weight: bold;
}
dl.Syndication span {
}
p.RubArchives {
	font-size: 100%;
	text-align: right;
}

/* Squelettes Rubrique 5 et Article 5 [Manifestations]
=================================================== */
.Manifestations h2,  .Recherche h2{
	font-size: 130%;
	margin-top: 1.5em;
	margin-bottom: 0.8em;
}
div.Manifestations div.RubIntroArt {
	margin-left: 0px;
}
h3.DateManif {
	margin-bottom: 0.5em;
}
div.Manifestations p.RubIntroArt {
	margin-bottom: 2em;
	color: #666;
}

/* Divers
----------------------------- */
div.rien, p.rien {
	clear: both;
}
.Invisible, .invisible {
	display: none;
}
p.Blanc {
	height: 40px;
}
